<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <title>Carbon footprint</title>
  <div id="cover">
    <form method="post" action="">
      <div class="tb">
        <div class="td">
          <input
            type="text"
            name="search"
            placeholder="Input your dish"
            required
          />
        </div>
        <div class="td" id="s-cover">
          <button type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <body>
    <h1>{{ result }}</h1>
  </body>
</html>
